.pageContainer {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

.infoSection {
}

.imageSection {
  perspective: 1200px;
  display: flex;
  justify-content: center;
}

.imageSection > img {
  height: auto;
  width: 90%;

  object-fit: contain;

  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
}

@media (min-width: 850px) {
  .pageContainer {
    flex-direction: row;
  }
  .infoSection {
    width: 50vw;
  }
  .imageSection {
    width: 50vw;
  }
  .imageSection > img {
    width: 400px;
    transform: rotateY(-15deg);
  }
}

@media (min-width: 1300px) {
  .imageSection > img {
    width: 600px;
  }
}
