* {
  box-sizing: border-box;
  margin: 0px;
}

body,
html {
  font-family: "Tenor Sans", sans-serif;
  background-color: rgb(26, 26, 214);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* padding-top: 30px; */
}
