.buttonGroup {
  display: flex;
}

button {
  width: 120px;
  height: 75px;
  margin: 0 5px 0 5px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;

  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

  cursor: pointer;
}

.linkedIn {
  background-image: url("/images/linkedin-visa-logo.png");
}

.email {
  background-image: url("/images/email-mastercard-logo.png");
}

.resume {
  background-image: url("/images/resume-american-express-logo.png");
}

@media (min-width: 1200px) {
  button {
    width: 150px;
    height: 90px;
  }
}
