.landingContainer {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 50px;
}

.image {
  display: flex;
  justify-content: center;
}

.image > img {
  width: 300px;
  height: 290px;
  object-fit: cover;

  /* margin-top: 10px; */

  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  width: 100vw;
}

.introduction > h2 {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  font-style: italic;
  font-family: "Tenor Sans", sans-serif;
  text-align: start;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black, 4px 4px 0 rgba(0, 0, 0, 0.8);

  margin-bottom: 10px;
}

.titleContainer > h1 {
  color: yellow;
  font-size: 3.6rem;
  font-weight: 1000;
  line-height: 0.9;
  text-align: center;
  letter-spacing: -1px;
  font-family: "Shrikhand", cursive;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black, 6px 6px 0 rgba(0, 0, 0, 0.8);
}

.technologies {
  color: yellow;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-style: italic;
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black, 3px 3px 0 rgba(0, 0, 0, 0.8);

  margin-bottom: 20px;
}

@media (min-width: 850px) {
  .landingContainer {
    flex-direction: row;
  }

  .image {
    display: flex;
    width: 50vw;
    justify-content: end;
  }

  .image > img {
    margin-right: 25px;
  }

  .introduction {
    display: flex;
    align-items: start;
    width: 50vw;
    margin-left: 25px;
  }

  .titleContainer > h1 {
    text-align: left;
  }

  .technologies {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  .image > img {
    width: 400px;
    height: 400px;

    margin-right: 100px;
  }
  .introduction > h2 {
    font-size: 2.1rem;
  }
  .titleContainer > h1 {
    font-size: 4.5rem;
  }

  .technologies {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}
